
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.menu {
	padding-right: 10px;
}

#footer {
	clear: left;
	text-align: center;
}

.menuTitle {
	font-weight: bold;
	font-size: 120%;
}

table.menu {
	background-color: deepskyblue;
}

.mainbg {
	background-color: plum;
}
