
@{
    ViewBag.Title = "LoggedIn";
}

<style>
    h2 {
        color: aliceblue
    }
</style>
<div class="jumbotron text-center">
    <h2>Account</h2>
</div>
<body>
<div>
    <div align="center"><h3>Enter your Login info</h3></div>
        
    <div align="center">Account Name:<br/>
        <input type="text"/>
    </div>
        
    <div align="center">Password: <br/>
        <input type="text"/>
    </div>
    <div align="center"><br/>
        <button type="submit">Login</button><br/><br/><br />
    </div>
</div>
<div align="center">
    <a href="">Create New Account</a> <br/>
</div>
<div align="center">       
    <a href="">Forgot Password?</a> <br/>
</div>
   
</body>
<footer>
    
</footer>


