@model CarDealershipMastery.UI.Models.UpdateAccountViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password for @Model.UserName</h2>
<div class="container">
    <div class="col-xs-12">
        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-xs-6">
                @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
                <div class="form-group">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control loginPassword" })
                </div>

                <div class="form-group">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control loginPassword" })
                </div>

                <button type="submit">Submit</button>

            </div>
        }
     </div>
</div>


