
@{
    ViewBag.Title = "About";
}

<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="about-us" class="clear">

            <section id="about-intro" class="clear">
                <div class="jumbotron text-center">
                    <h1>About Us</h1>
                </div>

                <img src="~/Website IMAGES/Spaceblog1.jpg" height="800" width="1200" alt="Spaceblog1">
                <br /><br />
                <hr />
                <div class="jumbotron" id="jtron">
                    <h4>
                        <b>Time and space -</b>  time to be alone, space to move about - these may well become the great scarcities of tomorrow.
                    </h4>
                    <div align="right">
                        <h4>
                            <b>
                                -Edwin Way Teale
                            </b>
                        </h4>
                    </div>

                    <h4>
                        <b>Modern science says:</b> 'The sun is the past, the earth is the present, the moon is the future.' From an incandescent mass we have originated, and into a frozen mass we shall turn. Merciless is the law of nature, and rapidly and irresistibly we are drawn to our doom.
                    </h4>
                    <div align="right">
                        <h4>
                            <b>
                                -Nikola Tesla
                            </b>
                        </h4>
                    </div>
                    <h4>
                        <b>The important achievement of Apollo</b>  was demonstrating that humanity is not forever chained to this planet and our visions go rather further than that and our opportunities are unlimited.
                    </h4>
                    <div align="right">
                        <h4>
                            <b>
                                -Neil Armstrong
                            </b>
                        </h4>
                    </div>
                    <hr />
                </div>

                <h4>Spaceblog.. the Final Frontier...</h4>
            </section>
            <section id="team">
                <div class="jumbotron text-center">
                    <h1>AeroSpace Blog Team</h1>
                </div>
                <ul class="clear">
                    <li class="one_third first">
                        <figure>
                            <img src="~/Website IMAGES/Brad.jpg" width="140" height="140" alt="">
                            <figcaption>
                                <p class="team_name">   <b> Brad Lifford</b></p>
                                <p class="team_title">The Javascript & Data Wizard</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure>
                            <img src="~/Website IMAGES/Michele.jpg" width="140" height="140" alt="">
                            <figcaption>
                                <p class="team_name"> <b>Michele Lieske</b></p>
                                <p class="team_title">Lead Architect</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure>
                            <img src="~/Website IMAGES/Navdeep.jpg" width="140" height="140" alt="">
                            <figcaption>
                                <p class="team_name"> <b>Navdeep Puri</b></p>
                                <p class="team_title">The Head AeroSpace/Rocket/Repo Engineer</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third first">
                        <figure>
                            <img src="~/Website IMAGES/Conner.jpg" width="140" height="140" alt="">
                            <figcaption>
                                <p class="team_name"> <b> Conner Soligny</b></p>
                                <p class="team_title">That One Dude</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <hr />
            </section>
        </div>
    </div>
</div>