@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
@Html.ActionLink("Add Course","AddCourse","Admin",null,new { @class = "btn btn-primary" })

<div class="row">
    <div class="col-xs-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CourseName</td>
                        <td>
                            @Html.ActionLink("Edit", "EditCourse", "Admin", new { id = course.CourseId }, null) |
                            @Html.ActionLink("Delete", "DeleteCourse", "Admin", new { id = course.CourseId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>